<!-- partial:partials/_header.html -->
<!-- partial -->

<div class="content_block">
  <div class="container-lg container">
    <h1>О проекте Solva</h1>
    <p class="fs_20">Мы — финансовая компания нового поколения, которая специализируется на выдаче персональных кредитов онлайн частным лицам и предпринимателям.</p>
    <img src="../img/image.jpg" alt="alt">
    <p>Проект Solva входит в состав финансовой группы IDF Eurasia, крупнейшего сервиса онлайн-кредитования в России и Казахстане. Являясь флагманом финансово- технологических преобразований в Евразии, компания в своем подходе сочетает применение передовых разработок
      в системе принятия решений с принципами ответственного кредитования.</p>
    <h2>Полностью онлайн</h2>
    <p>Вы можете подать заявку на кредит, даже если у вас с собой только смартфон и ИИН. Вся анкета заполняется онлайн не более чем за 8 минут, решение принимается мгновенно. Выдача производится на зарегистрированные на имя клиента карту или банковский счет.</p>
  </div>
</div>

<!-- partial:sections/_content_block_slider_wrapper.html -->
<!-- partial -->

<div class="content_block">
  <div class="container-lg container">
    <h2>Помогаем сразу</h2>
    <p>Почти все проблемы решаются уже при первом обращении</p>
  </div>
</div>

<!-- partial:sections/_show_more_slider_wrapper.html -->
<!-- partial -->

<!-- partial:partials/_footer.html -->
<!-- partial -->