<!-- partial:partials/_header.html -->
<!-- partial -->

<section id="callback" class="callback">
  <div class="container container-lg">
    <a href="/" class="back_button">Назад</a>
    <div class="title_line">
      <h1>Отзывы</h1>
      <div class="btn to_write">Написать</div>
    </div>

    <div class="callback_wrapper">
      <div id="callback_list" class="callback_list">

        <div class="callback_item">
          <div class="name">Тимур, Астана</div>
          <div class="date">8 сентября 2020</div>

          <div data-full_text="Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн."
               class="content">Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн.</div>

        </div>
        <div class="callback_item">
          <div class="name">Тимур, Астана</div>
          <div class="date">8 сентября 2020</div>
          <div
                                      data-full_text="Добрый день! Я стараюсь не использовать кредиты, но появилась непредвиденная ситуация, срочно нужно закрыть разрыв
             в кассе. Сходила в  Добрый день! Я стараюсь не использовать кредиты, но появилась непредвиденная ситуация,
            срочно нужно закрыть разрыв  в кассе."
                                      class="content">
            Добрый день! Я стараюсь не использовать кредиты, но появилась непредвиденная ситуация, срочно нужно закрыть разрыв
            в кассе. Сходила в  Добрый день! Я стараюсь не использовать кредиты, но появилась непредвиденная ситуация,
            срочно нужно закрыть разрыв  в кассе.

            Добрый день! Я стараюсь не использовать кредиты, но появилась непредвиденная ситуация, срочно нужно закрыть разрыв
            в кассе. Сходила в  Добрый день! Я стараюсь не использовать кредиты, но появилась непредвиденная ситуация,
            срочно нужно закрыть разрыв  в кассе.

          </div>
        </div>
        <div class="callback_item">
          <div class="name">Тимур, Астана</div>
          <div class="date">8 сентября 2020</div>

          <div data-full_text="Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн."
               class="content">Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн.</div>

        </div>


      </div>
      <!-- partial:partials/_pagination.html -->
      <!-- partial -->
    </div>


  </div>
</section>

<!-- partial:partials/_footer.html -->
<!-- partial -->