<!-- partial:partials/_header.html -->
<!-- partial -->

<div class="content_block">
  <div class="container-lg container">
    <h1>О проекте Solva</h1>
    <p class="fs_20">Мы — финансовая компания нового поколения, которая специализируется на выдаче персональных кредитов онлайн частным лицам и предпринимателям.</p>
    <img src=".../img/image.jpg" alt="alt">
    <p>Проект Solva входит в состав финансовой группы IDF Eurasia, крупнейшего сервиса онлайн-кредитования в России и Казахстане. Являясь флагманом финансово- технологических преобразований в Евразии, компания в своем подходе сочетает применение передовых разработок
      в системе принятия решений с принципами ответственного кредитования.</p>
    <h2>Полностью онлайн</h2>
    <p>Вы можете подать заявку на кредит, даже если у вас с собой только смартфон и ИИН. Вся анкета заполняется онлайн не более чем за 8 минут, решение принимается мгновенно. Выдача производится на зарегистрированные на имя клиента карту или банковский счет.</p>
  </div>
</div>

<div class="content_block_slider_wrapper">
  <div class="container container-lg">
    <div class="title_line">
      <h2>Лидер на рынке финансовых технологий</h2>
      <div class="content_block_slider_navs">
        <div class="content_block_slider_left navs">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" fill="none">
            <path d="M0.93934 10.9393C0.353554 11.5251 0.353554 12.4749 0.939341 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97919 12.6066 1.3934C12.0208 0.807612 11.0711 0.807612 10.4853 1.3934L0.93934 10.9393ZM22 10.5L2 10.5L2 13.5L22 13.5L22 10.5Z" fill="#7A84A6"/>
          </svg>
        </div>
        <div class="content_block_slider_right navs">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" fill="none">
            <path d="M21.0607 13.0607C21.6464 12.4749 21.6464 11.5251 21.0607 10.9393L11.5147 1.3934C10.9289 0.807611 9.97919 0.807611 9.3934 1.3934C8.80761 1.97919 8.80761 2.92893 9.3934 3.51472L17.8787 12L9.3934 20.4853C8.80761 21.0711 8.80761 22.0208 9.3934 22.6066C9.97919 23.1924 10.9289 23.1924 11.5147 22.6066L21.0607 13.0607ZM0 13.5H20V10.5H0V13.5Z" fill="#2D395F"/>
          </svg>
        </div>
      </div>
    </div>

    <div id="content_block_slider_container" class="swiper-container content_block_slider_container">

      <div class="swiper-wrapper content_block_slider">


        <div class="swiper-slide content_block_slider_slide">
          <a href="../img/01.png" class="image_wrapper" data-fancybox>
            <img src=".../img/01.png" alt="">
          </a>
          <div class="title">Лучшая МФО Казахстана в 2019 году</div>
        </div>
        <div class="swiper-slide content_block_slider_slide">
          <a href=".../img/02.png" class="image_wrapper" data-fancybox>
            <img src=".../img/02.png" alt="">
          </a>
          <div class="title">Лучшая МФО Казахстана в 2019 году</div>
        </div>
        <div class="swiper-slide content_block_slider_slide">
          <a href=".../img/03.png" class="image_wrapper" data-fancybox>
            <img src="src/img/03.png" alt="">
          </a>
          <div class="title">Лучшая МФО Казахстана в 2019 году</div>
        </div>
        <div class="swiper-slide content_block_slider_slide">
          <a href=".../img/04.png" class="image_wrapper" data-fancybox>
            <img src=".../img/04.png" alt="">
          </a>
          <div class="title">Лучшая МФО Казахстана в 2019 году</div>
        </div>
        <div class="swiper-slide content_block_slider_slide">
          <a href=".../img/01.png" class="image_wrapper" data-fancybox>
            <img src=".../img/01.png" alt="">
          </a>
          <div class="title">Лучшая МФО Казахстана в 2019 году</div>
        </div>
        <div class="swiper-slide content_block_slider_slide">
          <a href=".../img/02.png" class="image_wrapper" data-fancybox>
            <img src=".../img/02.png" alt="">
          </a>
          <div class="title">Лучшая МФО Казахстана в 2019 году</div>
        </div>
        <div class="swiper-slide content_block_slider_slide">
          <a href=".../img/03.png" class="image_wrapper" data-fancybox>
            <img src=".../img/03.png" alt="">
          </a>
          <div class="title">Лучшая МФО Казахстана в 2019 году</div>
        </div>
        <div class="swiper-slide content_block_slider_slide">
          <a href=".../img/04.png" class="image_wrapper" data-fancybox>
            <img src=".../img/04.png" alt="">
          </a>
          <div class="title">Лучшая МФО Казахстана в 2019 году</div>
        </div>




      </div>

    </div>
  </div>
</div>

<div class="content_block">
  <div class="container-lg container">
    <h2>Помогаем сразу</h2>
    <p>Почти все проблемы решаются уже при первом обращении</p>
  </div>
</div>

<section class="show_more_slider_wrapper">
  <div class="container container-lg">
    <div class="title_line">
      <h2>Отзывы</h2>
      <a href="#" class="show_more_link">Смотреть все</a>
    </div>

    <div id="show_more_slider_container" class="swiper-container show_more_slider_container">

      <div class="swiper-wrapper show_more_slider">

        <div class="swiper-slide callback_item">
          <div class="name">Тимур, Астана</div>
          <div class="date">8 сентября 2020</div>

          <div data-full_text="Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн."
               class="content">Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн.</div>

        </div>
        <div class="swiper-slide callback_item">
          <div class="name">Тимур, Астана</div>
          <div class="date">8 сентября 2020</div>

          <div data-full_text="Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн."
               class="content">Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн.</div>

        </div>
        <div class="swiper-slide callback_item">
          <div class="name">Тимур, Астана</div>
          <div class="date">8 сентября 2020</div>

          <div data-full_text="Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн."
               class="content">Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн.</div>

        </div>
        <div class="swiper-slide callback_item">
          <div class="name">Тимур, Астана</div>
          <div class="date">8 сентября 2020</div>

          <div data-full_text="Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн."
               class="content">Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн.</div>

        </div>

      </div>

    </div>
  </div>
</section>

<!-- partial:partials/_footer.html -->
<!-- partial -->