.content_block{
  width: 100%;
  height: auto;
  margin-bottom: 80px;
  p{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    &.fs_20{
      @media(max-width: $md){
        font-size: 20px;
        line-height: 30px;
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }

  img{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 40px;
  }

  h1,h2,h3{
    margin-top: 80px;
    margin-bottom: 20px;
    &:first-child{
      margin-top: 0;
    }
    @media(max-width: $md){
      margin-top: 40px;
    }
  }

}