.content_block_slider_container {
  width: 100%;
  height: auto;

  .content_block_slider {
    width: 100%;
    height: auto;

    .content_block_slider_slide {
      height: auto;
      position: relative;
      .image_wrapper{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $greyBlue;
        margin-bottom: 10px;
        @media(max-width: $ex_lg){
          height: 163px;
        }
        @media(max-width: $md){
          height: 109px;
        }
        img{
          width: auto;
          height: auto;
          max-width: 80%;
          max-height: 80%;
        }
      }
      .title{
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.01em;
        color: $colorWh;
        @media(max-width: $md){
          font-size: 12px;
          line-height: 15px;
        }
      }
    }

  }
}