<section class="container calc container-lg">
  <div class="row">
    <div class="col-12 calc__top">
      <h2 class="heading">Рассчитайте свой микрокредит</h2>
      <span class="calc__type selected"
            data-to="calc-for-fiz">Частным лицам</span>
      <span class="calc__type"
            data-to="calc-for-biz">Для бизнеса</span>
    </div>
  </div>
  <div id="calc-for-fiz" class="row">
    <div class="col-xs-12 col-sm-6 calc__left">
      <div class="calc__summ">
        <span class="calc__heading">Сумма микрокредита</span>
        <span class="calc__value" data-id="calc-summ-label">1 000 000</span>
        <input type="range" name="" value="600000" min="200000" max="2000000" step="10000"
               data-id="calc-summ">
      </div>
      <div class="calc__footnote">
        <span>от 200 тыс</span>
        <span>до 2 млн</span>
      </div>
      <div class="calc__period">
        <span class="calc__heading">Срок микрокредитования</span>
        <span class="calc__value"
              data-id="calc-time-label">2 года</span>
        <input type="range" name="" value="6" min="6" max="36" step="3" data-id="calc-time">
      </div>
      <div class="calc__footnote">
        <span>от 6 месяцев</span>
        <span>до 3 лет</span>
      </div>
      <div class="calc__disclaimer desktop">
        Расчет калькулятора произведен по ставкам, действующим при условии оформления финансовой защиты к микрокредиту. Не является публичной офертой.
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 calc__right borderLeft">
      <div class="calc__payment">
        <span class="calc__payment__title">Ежемесячный платёж</span>
        <span class="calc__payment__value" data-id="calc-month-label">98 430</span>
        <!-- <input type="range" name="" value="98430" min="57000" max="290000" step="1000" data-id="calc-month"> -->
      </div>
      <!-- <div class="calc__footnote">
        <span>57 000</span>
        <span>290 000</span>
      </div> -->
      <div class="calc__percent">
        <span class="calc__payment__title percent">Процентная ставка</span>
        <span class="calc__payment__value" data-id="calc-percent-label">4.8 %</span>
        <a href="/secure/registration"
           class="btn btn_pink">Заполнить заявку</a>
        <div class="calc__disclaimer mobile">
          Расчет калькулятора произведен по ставкам, действующим при условии оформления финансовой защиты к микрокредиту. Не является публичной офертой.
        </div>
      </div>
    </div>
  </div>

  <div id="calc-for-biz" class="row">
    <div class="col-xs-12 col-sm-6 calc__left">
      <div class="calc__summ">
        <span class="calc__heading">Сумма микрокредита</span>
        <span class="calc__value" data-id="calc-summ-label">1 000 000</span>
        <input type="range" name="" value="1500000" min="200000" max="2000000" step="10000"
               data-id="calc-summ">
      </div>
      <div class="calc__footnote">
        <span>от 200 тыс</span>
        <span>до 2 млн</span>
      </div>
      <div class="calc__period">
        <span class="calc__heading">Срок микрокредитования</span>
        <span class="calc__value"
              data-id="calc-time-label">2 года</span>
        <input type="range" name="" value="24" min="6" max="36" step="3" data-id="calc-time">
      </div>
      <div class="calc__footnote">
        <span>от 6 месяцев</span>
        <span>до 3 лет</span>
      </div>
      <div class="calc__disclaimer desktop">
        Расчет калькулятора произведен по ставкам, действующим при условии оформления финансовой защиты к микрокредиту. Не является публичной офертой.
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 calc__right borderLeft">
      <div class="calc__payment">
        <span class="calc__payment__title">Ежемесячный платёж</span>
        <span class="calc__payment__value" data-id="calc-month-label">98 430</span>
        <!-- <input type="range" name="" value="98430" min="57000" max="290000" step="1000" data-id="calc-month"> -->
      </div>
      <!-- <div class="calc__footnote">
        <span>57 000</span>
        <span>290 000</span>
      </div> -->
      <div class="calc__percent">
        <span class="calc__payment__title percent">Процентная ставка</span>
        <span class="calc__payment__value" data-id="calc-percent-label">4.8 %</span>
        <a href="/secure/registration"
           class="btn btn_pink">Заполнить заявку</a>
        <div class="calc__disclaimer mobile">
          Расчет калькулятора произведен по ставкам, действующим при условии оформления финансовой защиты к микрокредиту. Не является публичной офертой.
        </div>
      </div>
    </div>
  </div>
</section>