<div class="pagination">

  <a href="#" class="pg prev">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" width="100%" height="100%" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 5418 6320">
 <defs>
  <style type="text/css">
   <![CDATA[
   .fil0 {fill:#2B2A29;fill-rule:nonzero}
   ]]>
  </style>
 </defs>
      <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
        <path class="fil0" d="M3230 6320l-3158 -3090 -72 -70 72 -70 3158 -3090 0 283 -2941 2877 2941 2877 0 283zm2188 0l-3158 -3090 -72 -70 72 -70 3158 -3090 0 283 -2941 2877 2941 2877 0 283z"/>
 </g>
</svg>
  </a>
  <a href="#" class="pg first">1</a>
  <a href="#" class="pg">5</a>
  <a href="#" class="pg">6</a>
  <a href="#" class="pg currient">7</a>
  <a href="#" class="pg">8</a>
  <a href="#" class="pg">9</a>
  <a href="#" class="pg last">500</a>
  <a href="#" class="pg next">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" width="100%" height="100%" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 5418 6320">
 <defs>
  <style type="text/css">
   <![CDATA[
   .fil0 {fill:#2B2A29;fill-rule:nonzero}
   ]]>
  </style>
 </defs>
      <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
        <path class="fil0" d="M2188 0l3158 3090 72 70 -72 70 -3158 3090 0 -283 2941 -2877 -2941 -2877 0 -283zm-2188 0l3158 3090 72 70 -72 70 -3158 3090 0 -283 2941 -2877 -2941 -2877 0 -283z"/>
 </g>
</svg>
  </a>
</div>