<div id="show_more_slider_container" class="swiper-container show_more_slider_container">

  <div class="swiper-wrapper show_more_slider">

    <div class="swiper-slide callback_item">
      <div class="name">Тимур, Астана</div>
      <div class="date">8 сентября 2020</div>

      <div data-full_text="Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн."
           class="content">Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн.</div>

    </div>


    <div class="swiper-slide callback_item">
      <div class="name">Рефинансирование от 4,8%</div>
      <div class="double_block">

        <div class="double_block_item">
          <div class="db_title">до 2 000 000 тенге</div>
          <div class="db_content">сумма кредита</div>
        </div>

        <div class="double_block_item">
          <div class="db_title">от 6 месяцев до 3 лет</div>
          <div class="db_content">срок кредитования</div>
        </div>


      </div>
    </div>

    <div class="swiper-slide callback_item">
      <div class="name">Тимур, Астана</div>
      <div class="date">8 сентября 2020</div>

      <div data-full_text="Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн."
           class="content">Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн.</div>

    </div>
    <div class="swiper-slide callback_item">
      <div class="name">Тимур, Астана</div>
      <div class="date">8 сентября 2020</div>

      <div data-full_text="Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн."
           class="content">Сидя дома очень удобно взять тут кредит. Спасибо. Большим плюсом для меня стало то, что не надо идти в банк и общаться с людьми, все сделал онлайн.</div>

    </div>

  </div>

</div>