<section id="contacts" class="contacts_section">
  <div class="container container-lg">

    <div class="title_line">
      <h1>Контакты</h1>
    </div>

    <div class="contacts_wrapper">

      <div class="left_part">

        <a href="tel:+77273131208" class="phone">+7 727 313 12 08</a>

        <div class="contact_block">

          <div class="mail_block">
            <div class="m_title">Общие вопросы</div>
            <a href="mailto:support@solva.kz" class="mail">support@solva.kz</a>
          </div>

          <div class="mail_block">
            <div class="m_title">СМИ и блогерам</div>
            <a href="mailto:pr@solva.kz" class="mail">pr@solva.kz</a>
          </div>

          <div class="mail_block">
            <div class="m_title">Трудоустройство</div>
            <a href="mailto:job@solva.kz" class="mail">job@solva.kz</a>
          </div>

        </div>


      </div>

      <div class="map">
        <div class="adress_block">
          <div class="m_title mobile">Наш офис в Казахстане</div>
          <span class="mail">050004, г. Алматы, Алмалинский район улица Наурызбай батыра 8, БЦ Коба, 5 этаж</span>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27704.088129880627!2d37.60857406478614!3d55.75008036242057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a3828f66c9f%3A0x689583e9993c12e6!2z0J_QsNGC0YDQuNCw0YDRiNC40LUg0L_RgNGD0LTRiw!5e0!3m2!1sru!2sby!4v1606061030720!5m2!1sru!2sby"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
      </div>
    </div>

    <div id="open_contacts_popup" class="open_contacts_popup btn">Написать письмо</div>

  </div>
</section>