<section id="documents" class="documents">
  <div class="container container-lg">
    <div class="title_line">
      <h1>Докуметы</h1>
    </div>

    <div class="documents_list">

      <div class="document_item">

        <div class="type">PDF</div>
        <div class="doc_title">Правила выдачи микрокредитов</div>

      </div>
      <div class="document_item">

        <div class="type">PDF</div>
        <div class="doc_title">Правила выдачи микрокредитов</div>

      </div>
      <div class="document_item">

        <div class="type">PDF</div>
        <div class="doc_title">Правила выдачи микрокредитов</div>

      </div>
      <div class="document_item">

        <div class="type">PDF</div>
        <div class="doc_title">Правила выдачи микрокредитов</div>

      </div>

    </div>

  </div>
</section>