<section id="main" class="main_section">

  <div id="main_section_slider_wrapper" class="main_section_slider_wrapper container container-lg">


    <div class="swiper-container main_section_slider bg_gray">
      <div class="main_carousel swiper-wrapper">
        <div class="slide_wrapper swiper-slide" style="background-image: url('../../img/main_bg.png')">

          <div class="title_h1">Онлайн займы под 4,8% для новых клиентов</div>

          <div class="desc_list">
            <div class="desc_list_item">
              <div class="title">2 минуты</div>
              <div class="alt_title">решение по кредиту</div>
            </div>
            <div class="desc_list_item">
              <div class="title">Онлайн</div>
              <div class="alt_title">быстрое оформление</div>
            </div>
          </div>

          <a href="#" class="btn">Получить</a>

        </div>
        <div class="slide_wrapper swiper-slide" style="background-image: url('../../img/main_bg.png')">

          <div class="title_h1">Онлайн займы под 4,8% для новых клиентов</div>

          <div class="desc_list">
            <div class="desc_list_item">
              <div class="title">2 минуты</div>
              <div class="alt_title">решение по кредиту</div>
            </div>
            <div class="desc_list_item">
              <div class="title">Онлайн</div>
              <div class="alt_title">быстрое оформление</div>
            </div>
          </div>

          <a href="#" class="btn">Получить</a>

        </div>
        <div class="slide_wrapper swiper-slide" style="background-image: url('../../img/main_bg.png')">

          <div class="title_h1">Онлайн займы под 4,8% для новых клиентов</div>

          <div class="desc_list">
            <div class="desc_list_item">
              <div class="title">2 минуты</div>
              <div class="alt_title">решение по кредиту</div>
            </div>
            <div class="desc_list_item">
              <div class="title">Онлайн</div>
              <div class="alt_title">быстрое оформление</div>
            </div>
          </div>

          <a href="#" class="btn">Получить</a>

        </div>
        <div class="slide_wrapper swiper-slide" style="background-image: url('../../img/main_bg.png')">

          <div class="title_h1">Онлайн займы под 4,8% для новых клиентов</div>

          <div class="desc_list">
            <div class="desc_list_item">
              <div class="title">2 минуты</div>
              <div class="alt_title">решение по кредиту</div>
            </div>
            <div class="desc_list_item">
              <div class="title">Онлайн</div>
              <div class="alt_title">быстрое оформление</div>
            </div>
          </div>

          <a href="#" class="btn">Получить</a>

        </div>
        <div class="slide_wrapper swiper-slide" style="background-image: url('../../img/main_bg.png')">

          <div class="title_h1">Онлайн займы под 4,8% для новых клиентов</div>

          <div class="desc_list">
            <div class="desc_list_item">
              <div class="title">2 минуты</div>
              <div class="alt_title">решение по кредиту</div>
            </div>
            <div class="desc_list_item">
              <div class="title">Онлайн</div>
              <div class="alt_title">быстрое оформление</div>
            </div>
          </div>

          <a href="#" class="btn">Получить</a>

        </div>
        <div class="slide_wrapper swiper-slide" style="background-image: url('../../img/main_bg.png')">

          <div class="title_h1">Онлайн займы под 4,8% для новых клиентов</div>

          <div class="desc_list">
            <div class="desc_list_item">
              <div class="title">2 минуты</div>
              <div class="alt_title">решение по кредиту</div>
            </div>
            <div class="desc_list_item">
              <div class="title">Онлайн</div>
              <div class="alt_title">быстрое оформление</div>
            </div>
          </div>

          <a href="#" class="btn">Получить</a>

        </div>
        <div class="slide_wrapper swiper-slide" style="background-image: url('../../img/main_bg.png')">

          <div class="title_h1">Онлайн займы под 4,8% для новых клиентов</div>

          <div class="desc_list">
            <div class="desc_list_item">
              <div class="title">2 минуты</div>
              <div class="alt_title">решение по кредиту</div>
            </div>
            <div class="desc_list_item">
              <div class="title">Онлайн</div>
              <div class="alt_title">быстрое оформление</div>
            </div>
          </div>

          <a href="#" class="btn">Получить</a>

        </div>
        <div class="slide_wrapper swiper-slide" style="background-image: url('../../img/main_bg.png')">

          <div class="title_h1">Онлайн займы под 4,8% для новых клиентов</div>

          <div class="desc_list">
            <div class="desc_list_item">
              <div class="title">2 минуты</div>
              <div class="alt_title">решение по кредиту</div>
            </div>
            <div class="desc_list_item">
              <div class="title">Онлайн</div>
              <div class="alt_title">быстрое оформление</div>
            </div>
          </div>

          <a href="#" class="btn">Получить</a>

        </div>
        <div class="slide_wrapper swiper-slide" style="background-image: url('../../img/main_bg.png')">

          <div class="title_h1">Онлайн займы под 4,8% для новых клиентов</div>

          <div class="desc_list">
            <div class="desc_list_item">
              <div class="title">2 минуты</div>
              <div class="alt_title">решение по кредиту</div>
            </div>
            <div class="desc_list_item">
              <div class="title">Онлайн</div>
              <div class="alt_title">быстрое оформление</div>
            </div>
          </div>

          <a href="#" class="btn">Получить</a>

        </div>
        <div class="slide_wrapper swiper-slide" style="background-image: url('../../img/main_bg.png')">

          <div class="title_h1">Онлайн займы под 4,8% для новых клиентов</div>

          <div class="desc_list">
            <div class="desc_list_item">
              <div class="title">2 минуты</div>
              <div class="alt_title">решение по кредиту</div>
            </div>
            <div class="desc_list_item">
              <div class="title">Онлайн</div>
              <div class="alt_title">быстрое оформление</div>
            </div>
          </div>

          <a href="#" class="btn">Получить</a>

        </div>
        <div class="slide_wrapper swiper-slide" style="background-image: url('../../img/main_bg.png')">

          <div class="title_h1">Онлайн займы под 4,8% для новых клиентов</div>

          <div class="desc_list">
            <div class="desc_list_item">
              <div class="title">2 минуты</div>
              <div class="alt_title">решение по кредиту</div>
            </div>
            <div class="desc_list_item">
              <div class="title">Онлайн</div>
              <div class="alt_title">быстрое оформление</div>
            </div>
          </div>

          <a href="#" class="btn">Получить</a>

        </div>
        <div class="slide_wrapper swiper-slide" style="background-image: url('../../img/main_bg.png')">

          <div class="title_h1">Онлайн займы под 4,8% для новых клиентов</div>

          <div class="desc_list">
            <div class="desc_list_item">
              <div class="title">2 минуты</div>
              <div class="alt_title">решение по кредиту</div>
            </div>
            <div class="desc_list_item">
              <div class="title">Онлайн</div>
              <div class="alt_title">быстрое оформление</div>
            </div>
          </div>

          <a href="#" class="btn">Получить</a>

        </div>
      </div>
    </div>


    <div class="swiper-container main_section_pagination">

      <div class="dots_wrapper swiper-wrapper">
        <div class="dot_item swiper-slide">
          <div class="image_wrapper"
               style="background-image: url('../../img/slide_bg.png')"></div>
          <div class="title">Займы под 4,8%</div>
        </div>
        <div class="dot_item swiper-slide">
          <div class="image_wrapper"
               style="background-image: url('../../img/slide_bg.png')"></div>
          <div class="title">Займы под 4,8%</div>
        </div>
        <div class="dot_item swiper-slide">
          <div class="image_wrapper"
               style="background-image: url('../../img/slide_bg.png')"></div>
          <div class="title">Займы под 4,8%</div>
        </div>
        <div class="dot_item swiper-slide">
          <div class="image_wrapper"
               style="background-image: url('../../img/slide_bg.png')"></div>
          <div class="title">Займы под 4,8%</div>
        </div>
        <div class="dot_item swiper-slide">
          <div class="image_wrapper"
               style="background-image: url('../../img/slide_bg.png')"></div>
          <div class="title">Займы под 4,8%</div>
        </div>
        <div class="dot_item swiper-slide">
          <div class="image_wrapper"
               style="background-image: url('../../img/slide_bg.png')"></div>
          <div class="title">Займы под 4,8%</div>
        </div>
        <div class="dot_item swiper-slide">
          <div class="image_wrapper"
               style="background-image: url('../../img/slide_bg.png')"></div>
          <div class="title">Займы под 4,8%</div>
        </div>
        <div class="dot_item swiper-slide">
          <div class="image_wrapper"
               style="background-image: url('../../img/slide_bg.png')"></div>
          <div class="title">Займы под 4,8%</div>
        </div>
        <div class="dot_item swiper-slide">
          <div class="image_wrapper"
               style="background-image: url('../../img/slide_bg.png')"></div>
          <div class="title">Займы под 4,8%</div>
        </div>
        <div class="dot_item swiper-slide">
          <div class="image_wrapper"
               style="background-image: url('../../img/slide_bg.png')"></div>
          <div class="title">Займы под 4,8%</div>
        </div>
        <div class="dot_item swiper-slide">
          <div class="image_wrapper"
               style="background-image: url('../../img/slide_bg.png')"></div>
          <div class="title">Займы под 4,8%</div>
        </div>
        <div class="dot_item swiper-slide">
          <div class="image_wrapper"
               style="background-image: url('../../img/slide_bg.png')"></div>
          <div class="title">Займы под 4,8%</div>
        </div>
      </div>

    </div>

    <div id="navs_wrapper" class="navs_wrapper d_none">
      <div id="dots_wrapper_left" class="dots_wrapper_left navs d_none">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="25" viewBox="0 0 14 25" fill="none">
          <path d="M12.1992 23.2002L1.39922 12.4002L12.1992 1.60019" stroke="#2D395F" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div id="dots_wrapper_right" class="dots_wrapper_right navs">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="25" viewBox="0 0 14 25" fill="none">
          <path d="M1.80078 1.7998L12.6008 12.5998L1.80078 23.3998" stroke="#2D395F" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
  </div>

</section>