<section class="container container-lg utp">

  <div class="row">
    <div class="col-12 col-sm-6 utp__block">
      <div class="utp__block__image">
        <img src="../../img/mobile.svg" alt="" class="img-fluid">
      </div>
      <div class="utp__block__description">
        <span class="header">Всё онлайн</span>
        <span class="subheader">решение по микрокредиту за 8 минут</span>
      </div>
    </div>
    <div class="col-12 col-sm-6 utp__block">
      <div class="utp__block__image">
        <img src="../../img/calendar.svg" alt="" class="img-fluid">
      </div>
      <div class="utp__block__description">
        <span class="header">От 6 месяцев до 3 лет</span>
        <span class="subheader">срок микрокредитования</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 utp__block">
      <div class="utp__block__image">
        <img src="../../img/percent.svg" alt="" class="img-fluid">
      </div>
      <div class="utp__block__description">
        <span class="header">Низкие процентные ставки</span>
        <span class="subheader">мы выдаем крупные суммы на длительный срок</span>
      </div>
    </div>
    <div class="col-12 col-sm-6 utp__block">
      <div class="utp__block__image">
        <img src="../../img/cards.svg" alt="" class="img-fluid">
      </div>
      <div class="utp__block__description">
        <span class="header">Удобное погашение</span>
        <span class="subheader">быстро, просто, без комиссии</span>
      </div>
    </div>
  </div>

</section>